
.pokemon-card {
    min-height: inherit;
    position: relative;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 
                0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s;
    img {
        margin-top: 8px;
        max-height: 145px;
        max-width: 100%;
        width: auto;
    }
    &:hover {
        cursor: pointer;
        background-color: #d6d6d6;
    }
    &__footer {
        flex: 1 0 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        align-self: flex-end;
    }
    &__link {
        margin-bottom: 5px;
    }
}