.pokemon-modal {
    &__open {
        display: block !important;
    }
}
.sprite {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    max-height: 145px;
    max-width: 100%;
    width: auto;
}